<!-- START CLI -->
<div class="panel-group" id="accordion{{ index .Params 0 }}" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ index .Params 0 }}One">
      <div class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion{{ index .Params 0 }}" href="#collapse{{ index .Params 0 }}One" aria-expanded="true" aria-controls="collapse{{ index .Params 0 }}One">
          CLI Steps
        </a>
      </div>
    </div>
    <div id="collapse{{ index .Params 0 }}One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ index .Params 0 }}One">
      <div class="panel-body">
        <blockquote>
        <i class="fa fa-terminal"></i> Goto the terminal and type the following:
        </blockquote>
        <strong>
          

