       </strong>
      </div>
     </div>
    </div>
  <!-- GUI -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ index .Params 0 }}Two">
      <div class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion{{ index .Params 0 }}" href="#collapse{{ index .Params 0 }}Two" aria-expanded="false" aria-controls="collapse{{ index .Params 0 }}Two">
          Web Console Steps
        </a>
      </div>
    </div>
    <div id="collapse{{ index .Params 0 }}Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ index .Params 0 }}Two">
      <div class="panel-body">
